
.Tree_Node {
  margin-top: 5px;
  margin-left: 5px;
}

.Tree_Node:hover {
  background-color: rgb(220, 245, 243);
  cursor: pointer;
}

.Tree_Info, .Tree_Node {
  padding: 2px 10px 2px 5px;
  font: 14px Helvetica, Arial, sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.Tree_Arrow {
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.Tree_Arrow_Empty {
  color: yellow;
}